<div class="form-group">
    {{ formularios.nombre.label }}
    {{ formularios.nombre(class="form-control") }}
    <br/>
    {{ formularios.ingredientes.label }}
    {{ formularios.ingredientes(class="form-control", rows='19', cols='50') }}
        <br/>
    {{ formularios.elaboracion.label }}
    {{ formularios.elaboracion(class="form-control", rows='19', cols='50') }}
    <br/>
    {{ formularios.tipo.label }}
    {{ formularios.tipo(class="form-control") }}
    <br/>
    {{ formularios.observaciones.label }}
    {{ formularios.observaciones(class="form-control", rows='19', cols='50') }}
    <br/>
    {{ formularios.foto.label }}
    {{ formularios.foto(class="form-control") }}


</div>