{% extends 'plantilla/base.html' %}
{% block contenedor %}
<br/>
<div class="row justify-content-center align-items-center">
    <div class="col-md-8">
        <table class="table table-striped table-bordered bg-white table-hover table-s">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Foto</td>
                    <td>Ver</td>
                </tr>
            </thead>
            <tbody>
                {% for rec in receta %}
                <tr>
                    <td>
                        {{ rec.1 }}
                    </td>
                    <td><div class="text-center">
		                    <img src="{{ url_for('static',filename='uploads/')}}{{ rec.6 }}" class="img-responsive center-block" width="100%" alt="Imagen de Receta"/>
                        </div>
                    </td>
                    <td>
                        <a type="button"  class="btn btn-secondary btn-block" href="/receta/{{ rec.0 }}"><i class="fa fa-search"></i> </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a type="button" class="btn btn-secondary btn-block" href="/"><i class="fa fa-book"></i> </a>
    </div>
</div>
{% endblock %}